<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Full list of products</title>
</head>
<body>
<tbody>
{{ range . }}
  <tr>
    <td>{{ .Manufacturer }}</td>
    <td>{{ .Model  }}</td>
    <td>{{ .Architecture   }}</td>
    <li>{{ .Memory.Capacity }}</li>
    <li>{{ .Memory.Type }}</li>
    <li>{{ .Memory.InterfaceWidth }}</li>
    <li>{{ .Memory.Frequency }}</li>
    <td>{{ .GpuFrequency }}</td>
    <td>{{ .ProcessSize }}</td>
    <td>{{ .MaxResolution }}</td>
    <td>
      {{range .Interfaces}}
        <li>{{.}}</li>
      {{end}}
    </td>
    <td>{{ .Cooling.Type }}</td>
    <td>{{ .Cooling.FanNumber }}</td>
    <td>{{ .Tdp }} W</td>
    <td>{{ .TdpR }} W</td>
    <td>
      {{range .PowerSupply}}
    <td>{{.}}</td>
    {{end}}
    </td>
    <td>{{ .Slots }} Slots</td>
    <td>
      {{range .Size}}
        <li>{{.}} mm</li>
      {{end}}
    </td>
  </tr>

<form action="/comparisonGpuPower" method="post">
  <button type="submit" name="power" value="{{.TdpR}}">Power supply</button>
</form>
<form action="/comparisonMbHousing" method="post">
  <button type="submit" name="housing" value="{{.Size[0]}}">Housing</button>
</form>

{{ end }}
</tbody>
</body>
</html>