<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Full list of products</title>
</head>
<body>
<tbody>
{{ range . }}
  <tr>
    <td>{{ .Manufacturer }}</td>
    <td>{{ .Model  }}</td>
    <td>{{ .Type   }}</td>
    <td>
      {{range .Sockets}}
        <li>{{.}} </li>
      {{end}}
    </td>
    <td>
      {{range .Fans}}
        <li>{{.}} fans</li>
      {{end}}
    </td>
    <td>
      {{range .Rpm}}
        <li>{{.}} rpm</li>
      {{end}}
    </td>
    <td>{{ .Tdp  }}</td>
    <td>{{ .NoiseLevel }}</td>
    <td>{{ .MountType }}</td>
    <td>{{ .Power  }}</td>
    <td>{{ .Height   }}</td>
  </tr>

<form action="/comparisonCoolingCpu" method="post">
  <button type="submit" name="cpu" value="{{.Tdp}}">CPU</button>
</form>

{{ end }}
</tbody>
</body>
</html>