<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Full list of products</title>
</head>
<body>
<tbody>
{{ range . }}
  <tr>
    <td>{{ .Manufacturer }}</td>
    <td>{{ .Model  }}</td>
    <td>{{ .Type   }}</td>
    <td>{{ .Capacity    }}</td>
    <td>{{ .Interface    }}</td>
    <td>{{ .WriteMethod    }}</td>
    <td>{{ .TransferRate    }}</td>
    <td>{{ .SpindleSpeed  }}</td>
    <td>{{ .FormFactor }}</td>
    <td>{{ .Mftb }}</td>
    <td>
      {{range .Size}}
        <li>{{.}} mm</li>
      {{end}}
    </td>
    <td>{{ .Weight }}</td>
  </tr>
{{ end }}
</tbody>
</body>
</html>