<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Processor</title>
    <link rel="stylesheet" href="./assets/css/mainStyle.css">
</head>
<body>
<header>
    <nav>
        <div id="menu">
            <ul>
                <li class="dropdown">
                    <a href="/shop" class="dropbtn catalog-button">Catalog</a>
                    <div class="dropdown-content">
                        <a href="/listProducts?productType=cpu">CPU</a>
                        <a href="/listProducts?productType=gpu">GPU</a>
                        <a href="/listProducts?productType=motherboard">Motherboards</a>
                        <a href="/listProducts?productType=ram">RAM</a>
                        <a href="/listProducts?productType=powersupply">Power supply</a>
                        <a href="/listProducts?productType=ssd">SSD</a>
                        <a href="/listProducts?productType=hdd">HDD</a>
                        <a href="/listProducts?productType=cooling">Cooling</a>
                        <a href="/listProducts?productType=housing">Housing</a>
                    </div>
                </li>
            </ul>
        </div>
        <div id="search-bar">
            <input type="text" id="search-input" placeholder="Search...">
            <button id="search-button" onclick="searchALl()">
                <img src="./assets/icons/search.png" alt="Search">
            </button>
        </div>
        <div id="add-panel">
            <div id="shopping-cart" class="shopping-cart">
                <a href="/openCart"><img src="./assets/icons/cart.png" alt="Shopping Cart"></a>
                <span id="cart-badge" class="cart-badge">5</span>
            </div>
            <div class="user-container">
                <img src="./assets/icons/userdefault.png" alt="User Account">
                <ul>
                    <li class="dropdown">
                        <span>
                            <a href="#" class="dropbtn catalog-button">{{ .User.UserInfo.Name }}</a>
                         </span>
                        <div class="dropdown-content">
                            <a href="/showUserProfile">Profile</a>
                            <a href="/logout">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="product-table">
        {{ if eq .ProductType "cpu" }}
        <div class="product-item">
            <div class="product-image">
                <img src="assets/images/{{.ProductType}}.jpg" alt="product Image">
            </div>
            <div class="product-details">
                <table>
                    <tr>
                        <td class="description-label">Manufacturer:</td>
                        <td>{{ .Product.General.Manufacturer }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Model:</td>
                        <td>{{ .Product.General.Model }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Category:</td>
                        <td>{{ .Product.Main.Category }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Generation:</td>
                        <td>{{ .Product.Main.Generation }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Socket:</td>
                        <td>{{ .Product.Main.Socket }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Cores:</td>
                        <td>{{ .Product.Cores.Pcores }}P/{{ .Product.Cores.Ecores }}E/{{ .Product.Cores.Threads }}T</td>
                    </tr>
                    <tr>
                        <td class="description-label">Technical Process:</td>
                        <td>{{ .Product.Cores.TechnicalProcess }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">RAM:</td>
                        <td>{{ .Product.Ram.MaxFrequency }}MHz ({{ .Product.Ram.MaxCapacity }})</td>
                    </tr>
                    <tr>
                        <td class="description-label">TDP:</td>
                        <td>{{ .Product.Tdp }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Max Temperature:</td>
                        <td>{{ .Product.MaxTemperature }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Graphics:</td>
                        <td>{{ .Product.Graphics }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">PCI-E:</td>
                        <td>{{ .Product.PciE }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {{ else if eq .ProductType "motherboard" }}
        <div class="product-item">
            <div class="product-image">
                <img src="assets/images/{{.ProductType}}.jpg" alt="product Image">
            </div>
            <div class="product-details">
                <table>
                    <tr>
                        <td class="description-label">Manufacturer:</td>
                        <td>{{ .Product.General.Manufacturer }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Model:</td>
                        <td>{{ .Product.General.Model }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Socket:</td>
                        <td>{{ .Product.Socket }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Chipset:</td>
                        <td>{{ .Product.Chipset }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Form Factor:</td>
                        <td>{{ .Product.FormFactor }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Interfaces:</td>
                        <td>{{ .Product.Interfaces.Sata3 }} SATA3, {{ .Product.Interfaces.M2 }} M2</td>
                    </tr>
                    <tr>
                        <td class="description-label">RAM:</td>
                        <td>{{ .Product.Ram.Slots }} slots, {{ .Product.Ram.Type }} {{ .Product.Ram.MaxFrequency }}MHz ({{ .Product.Ram.MaxCapacity }})</td>
                    </tr>
                    <tr>
                        <td class="description-label">PCI-E Standard:</td>
                        <td>{{ .Product.PciStandard }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Motherboard power connector:</td>
                        <td>{{ .Product.MbPower }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">CPU power connector:</td>
                        <td>{{ .Product.CpuPower }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {{ else if eq .ProductType "cooling" }}
        <div class="product-item">
            <div class="product-image">
                <img src="assets/images/{{.ProductType}}.jpg" alt="product Image">
            </div>
            <div class="product-details">
                <table>
                    <tr>
                        <td class="description-label">Manufacturer:</td>
                        <td>{{ .Product.General.Manufacturer }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Model:</td>
                        <td>{{ .Product.General.Model }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Type:</td>
                        <td>{{ .Product.Type }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Sockets:</td>
                        <td>{{ range .Product.Sockets }}{{ . }} {{ end }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Fans:</td>
                        <td>{{ range .Product.Fans }}{{ . }} {{ end }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">TDP:</td>
                        <td>{{ .Product.Tdp }}W</td>
                    </tr>
                    <tr>
                        <td class="description-label">RPM:</td>
                        <td>{{ range .Product.Rpm }}{{ . }} {{ end }}RPM</td>
                    </tr>
                    <tr>
                        <td class="description-label">Noise Level:</td>
                        <td>{{ .Product.NoiseLevel }} dB</td>
                    </tr>
                    <tr>
                        <td class="description-label">Mount Type:</td>
                        <td>{{ .Product.MountType }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Power:</td>
                        <td>{{ .Product.Power }}W</td>
                    </tr>
                    <tr>
                        <td class="description-label">Height:</td>
                        <td>{{ .Product.Height }} mm</td>
                    </tr>
                </table>
            </div>
        </div>
        {{ else if eq .ProductType "ram" }}
        <div class="product-item">
            <div class="product-image">
                <img src="assets/images/{{.ProductType}}.jpg" alt="product Image">
            </div>
            <div class="product-details">
                <table>
                    <tr>
                        <td class="description-label">Manufacturer:</td>
                        <td>{{ .Product.General.Manufacturer }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Model:</td>
                        <td>{{ .Product.General.Model }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Capacity:</td>
                        <td>{{ .Product.Capacity }} GB</td>
                    </tr>
                    <tr>
                        <td class="description-label">Number:</td>
                        <td>{{ .Product.Number }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Form Factor:</td>
                        <td>{{ .Product.FormFactor }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Rank:</td>
                        <td>{{ .Product.Rank }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Type:</td>
                        <td>{{ .Product.Type }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Frequency:</td>
                        <td>{{ .Product.Frequency }} MHz</td>
                    </tr>
                    <tr>
                        <td class="description-label">Bandwidth:</td>
                        <td>{{ .Product.Bandwidth }} MB/s</td>
                    </tr>
                    <tr>
                        <td class="description-label">CAS Latency:</td>
                        <td>{{ .Product.CasLatency }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Timing Scheme:</td>
                        <td>{{ range .Product.TimingScheme }}{{ . }} {{ end }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Voltage:</td>
                        <td>{{ .Product.Voltage }} V</td>
                    </tr>
                    <tr>
                        <td class="description-label">Cooling:</td>
                        <td>{{ .Product.Cooling }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Height:</td>
                        <td>{{ .Product.Height }} mm</td>
                    </tr>
                </table>
            </div>
        </div>
        {{ else if eq .ProductType "ssd" }}
        <div class="product-item">
            <div class="product-image">
                <img src="assets/images/{{.ProductType}}.jpg" alt="product Image">
            </div>
            <div class="product-details">
                <table>
                    <tr>
                        <td class="description-label">Manufacturer:</td>
                        <td>{{ .Product.General.Manufacturer }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Model:</td>
                        <td>{{ .Product.General.Model }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Type:</td>
                        <td>{{ .Product.Type }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Capacity:</td>
                        <td>{{ .Product.Capacity }} GB</td>
                    </tr>
                    <tr>
                        <td class="description-label">Interface:</td>
                        <td>{{ .Product.Interface }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Memory Type:</td>
                        <td>{{ .Product.MemoryType }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Read Speed:</td>
                        <td>{{ .Product.Read }} MB/s</td>
                    </tr>
                    <tr>
                        <td class="description-label">Write Speed:</td>
                        <td>{{ .Product.Write }} MB/s</td>
                    </tr>
                    <tr>
                        <td class="description-label">Form Factor:</td>
                        <td>{{ .Product.FormFactor }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">MTFB:</td>
                        <td>{{ .Product.Mftb }} h</td>
                    </tr>
                    <tr>
                        <td class="description-label">Size:</td>
                        <td>{{ range .Product.Size }}{{ . }}x{{ end }}mm</td>
                    </tr>
                    <tr>
                        <td class="description-label">Weight:</td>
                        <td>{{ .Product.Weight }} g</td>
                    </tr>
                </table>
            </div>
        </div>
        {{ else if eq .ProductType "hdd" }}
        <div class="product-item">
            <div class="product-image">
                <img src="assets/images/{{.ProductType}}.jpg" alt="product Image">
            </div>
            <div class="product-details">
                <table>
                    <tr>
                        <td class="description-label">Manufacturer:</td>
                        <td>{{ .Product.General.Manufacturer }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Model:</td>
                        <td>{{ .Product.General.Model }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Type:</td>
                        <td>{{ .Product.Type }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Capacity:</td>
                        <td>{{ .Product.Capacity }} GB</td>
                    </tr>
                    <tr>
                        <td class="description-label">Interface:</td>
                        <td>{{ .Product.Interface }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Write Method:</td>
                        <td>{{ .Product.WriteMethod }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Transfer Rate:</td>
                        <td>{{ .Product.TransferRate }} MB/s</td>
                    </tr>
                    <tr>
                        <td class="description-label">Spindle Speed:</td>
                        <td>{{ .Product.SpindleSpeed }} RPM</td>
                    </tr>
                    <tr>
                        <td class="description-label">Form Factor:</td>
                        <td>{{ .Product.FormFactor }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">MTFB:</td>
                        <td>{{ .Product.Mftb }} h</td>
                    </tr>
                    <tr>
                        <td class="description-label">Size:</td>
                        <td>{{ range .Product.Size }}{{ . }}x{{ end }}mm</td>
                    </tr>
                    <tr>
                        <td class="description-label">Weight:</td>
                        <td>{{ .Product.Weight }} g</td>
                    </tr>
                </table>
            </div>
        </div>
        {{ else if eq .ProductType "gpu" }}
        <div class="product-item">
            <div class="product-image">
                <img src="assets/images/{{.ProductType}}.jpg" alt="product Image">
            </div>
            <div class="product-details">
                <table>
                    <tr>
                        <td class="description-label">Manufacturer:</td>
                        <td>{{ .Product.General.Manufacturer }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Model:</td>
                        <td>{{ .Product.General.Model }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Architecture:</td>
                        <td>{{ .Product.Architecture }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Memory Capacity:</td>
                        <td>{{ .Product.Memory.Capacity }} GB</td>
                    </tr>
                    <tr>
                        <td class="description-label">Memory Type:</td>
                        <td>{{ .Product.Memory.Type }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Memory Interface Width:</td>
                        <td>{{ .Product.Memory.InterfaceWidth }} bit</td>
                    </tr>
                    <tr>
                        <td class="description-label">Memory Frequency:</td>
                        <td>{{ .Product.Memory.Frequency }} MHz</td>
                    </tr>
                    <tr>
                        <td class="description-label">GPU Frequency:</td>
                        <td>{{ .Product.GpuFrequency }} MHz</td>
                    </tr>
                    <tr>
                        <td class="description-label">Process Size:</td>
                        <td>{{ .Product.ProcessSize }} nm</td>
                    </tr>
                    <tr>
                        <td class="description-label">Max Resolution:</td>
                        <td>{{ .Product.MaxResolution }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Interfaces:</td>
                        <td>
                            {{ .Product.Interfaces }}
                        </td>
                    </tr>
                    <tr>
                        <td class="description-label">Max Monitors:</td>
                        <td>{{ .Product.MaxMonitors }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Cooling Type:</td>
                        <td>{{ .Product.Cooling.Type }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Cooling Fan Number:</td>
                        <td>{{ .Product.Cooling.FanNumber }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">TDP:</td>
                        <td>{{ .Product.Tdp }} W</td>
                    </tr>
                    <tr>
                        <td class="description-label">Recommended Power Supply:</td>
                        <td>{{ .Product.TdpR }} W</td>
                    </tr>
                    <tr>
                        <td class="description-label">Power Supply:</td>
                        <td>
                            {{ .Product.PowerSupply }}
                        </td>
                    </tr>
                    <tr>
                        <td class="description-label">Slots:</td>
                        <td>{{ .Product.Slots }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Size:</td>
                        <td>
                            {{index .Product.Size 0}}x{{index .Product.Size 1}}x{{index .Product.Size 2}}mm
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {{ else if eq .ProductType "powersupply" }}
        <div class="product-item">
            <div class="product-image">
                <img src="assets/images/{{.ProductType}}.jpg" alt="product Image">
            </div>
            <div class="product-details">
                <table>
                    <tr>
                        <td class="description-label">Manufacturer:</td>
                        <td>{{ .Product.General.Manufacturer }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Model:</td>
                        <td>{{ .Product.General.Model }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Form Factor:</td>
                        <td>{{ .Product.FormFactor }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Output Power:</td>
                        <td>{{ .Product.OutputPower }} W</td>
                    </tr>
                    <tr>
                        <td class="description-label">Connectors:</td>
                        <td>SATA: {{ .Product.Connectors.Sata }}, Molex: {{ .Product.Connectors.Molex }}, PCI-E:
                            {{ .Product.Connectors.PciE }}
                        </td>
                    </tr>
                    <tr>
                        <td class="description-label">Modular:</td>
                        <td>{{ if .Product.Modules }}Yes{{ else }}No{{ end }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Motherboard Power:</td>
                        <td>{{ .Product.MbPower }} pin</td>
                    </tr>
                    <tr>
                        <td class="description-label">CPU Power:</td>
                        <td>{{ .Product.CpuPower }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {{ else if eq .ProductType "housing" }}
        <div class="product-item">
            <div class="product-image">
                <img src="assets/images/{{.ProductType}}.jpg" alt="product Image">
            </div>
            <div class="product-details">
                <table>
                    <tr>
                        <td class="description-label">Manufacturer:</td>
                        <td>{{ .Product.General.Manufacturer }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Model:</td>
                        <td>{{ .Product.General.Model }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Form Factor:</td>
                        <td>{{ .Product.FormFactor }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Drive Bays 3.5":</td>
                        <td>{{ .Product.DriveBays.D35 }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Drive Bays 2.5":</td>
                        <td>{{ .Product.DriveBays.D25 }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Motherboard Form Factor:</td>
                        <td>{{ .Product.MbFormFactor }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Power Supply Form Factor:</td>
                        <td>{{ .Product.PsFormFactor }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Expansion Slots:</td>
                        <td>{{ .Product.ExpansionSlots }}</td>
                    </tr>
                    <tr>
                        <td class="description-label">Graphic Card Size:</td>
                        <td>{{ .Product.GraphicCardSize }} mm</td>
                    </tr>
                    <tr>
                        <td class="description-label">Cooler Height:</td>
                        <td>{{ .Product.CoolerHeight }} mm</td>
                    </tr>
                    <tr>
                        <td class="description-label">Size:</td>
                        <td>
                            {{index .Product.Size 0}}x{{index .Product.Size 1}}x{{index .Product.Size 2}} mm
                        </td>
                    </tr>
                    <tr>
                        <td class="description-label">Weight:</td>
                        <td>{{ .Product.Weight }} kg</td>
                    </tr>
                </table>
            </div>
        </div>
        {{ end }}
        <div>
            {{ if ne .Product.General.Discount 0 }}
            <p>
                <span class="old-price">{{ .Product.General.Price }}</span>
                <span class="discount-percentage">-{{ .Product.General.Discount }}%</span>
                <span class="discount-price">{{ calculateDiscountPrice .Product.General.Price .Product.General.Discount }}</span>
            </p>
            {{ else }}
            <p>
                <span class="discount-price">{{ .Product.General.Price }}</span>
            </p>
            {{ end }}
        </div>

        <div class="product-actions">
            {{ if gt .Product.General.Amount 0 }}
            <button id="addToCartButton" class="buy-button" type="button" onclick="addToCart('{{.ProductType}}', '{{.Product.ID}}')">Add to cart</button>
            {{ if .IsCompatible }}
            <button id="addToBuildButton" name="addToBuildButton" class="compare-button" type="button" onclick="addToBuild('{{.ProductType}}', '{{.Product.ID}}')">Add to Build</button>
            {{ else }}
            <button name="notCompatible" class="buy-button" type="button" disabled>Incompatible</button>
            {{ end }}
            {{ else }}
            <button name="outOfStock" class="buy-button" type="button" disabled>Out of stock</button>
            {{ end }}
        </div>
    </div>
</main>
<script src="./assets/js/searchAll.js"></script>
<script>
    let userID = '{{.User.ID}}'.slice(10, 34)

    function addToCart(productType, productID) {
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/addProductToCart', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    let cartButton = document.getElementById('addToCartButton')
                    cartButton.style.backgroundColor = '#e3bc00';
                    cartButton.innerText = 'In cart'
                    cartButton.onclick = function () {
                        window.location.href = `/openCart`
                    }
                    cartNumberInc()
                } else {
                    alert('Error adding product to cart');
                }
            }
        };
        let params = 'productType=' + encodeURIComponent(productType) + '&productID=' + encodeURIComponent(productID);
        xhr.send(params);
    }

    function addToBuild(productType, productID) {
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/addProductToBuild', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    let buildButton = document.getElementById('addToBuildButton')
                    buildButton.style.backgroundColor = '#e3bc00';
                    buildButton.innerText = "Added to Build"
                } else {
                    alert('Error adding product to build');
                }
            }
        };
        let params = 'productType=' + encodeURIComponent(productType) + '&productID=' + encodeURIComponent(productID);
        xhr.send(params);
    }

    function cartNumberInc() {
        let counter = document.getElementById('cart-badge')
        let number = parseInt(counter.innerText)
        number++
        counter.innerText = number.toString()
        counter.style.display = 'block'
    }


    function inCartElementsNumber() {
        let cart = getCookie('cart' + userID);
        console.log(userID)
        let counter = document.getElementById('cart-badge')
        let number = 0

        if (cart !== null) {
            try {
                cart = JSON.parse(decodeURIComponent(cart));
                number = cart.length
            } catch (e) {
                console.error("No cart elements found", e);
            }
        }
        counter.innerText = number.toString()

        if (number > 0) {
            counter.style.display = 'block'
        } else {
            counter.style.display = 'none'
        }
    }

    function getCookie(name) {
        let value = "; " + document.cookie;
        let parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }

    function isProductInCart(productID) {
        let cart = getCookie('cart' + userID);

        if (cart !== null) {
            try {
                cart = JSON.parse(decodeURIComponent(cart));
                return cart.some(item => item.ID === productID);
            } catch (e) {
                console.error("No cart elements found", e);
                return false;
            }
        }
        return false;
    }

    function isProductInBuild(productID) {
        let build = getCookie('build' + userID);

        if (build !== null) {
            try {
                build = JSON.parse(decodeURIComponent(build));
                return build.some(item => item.ID === productID);
            } catch (e) {
                console.error("No build elements found", e);
                return false;
            }
        }
        return false;
    }

    document.addEventListener("DOMContentLoaded", function() {
        if (isProductInCart('{{ .Product.ID }}'.slice(10, 34))) {
            let cartButton = document.getElementById('addToCartButton')
            cartButton.style.backgroundColor = '#e3bc00';
            cartButton.innerText = 'In cart'
            cartButton.onclick = function () {
                window.location.href = `/openCart`
            }
        }
        if (isProductInBuild('{{ .Product.ID }}'.slice(10, 34))) {
            let buildButton = document.getElementById('addToBuildButton')
            buildButton.style.backgroundColor = '#e3bc00';
            buildButton.innerText = 'Added to Build'
            buildButton.onclick = function () {}
        }
        inCartElementsNumber()
    });

    function formatPrice(price) {
        return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    }

    document.querySelectorAll('.old-price').forEach(function(element) {
        let oldPrice = parseInt(element.innerText);
        element.innerText = formatPrice(oldPrice) + " ₸";
    });

    document.querySelectorAll('.discount-price').forEach(function(element) {
        let discountPrice = parseInt(element.innerText);
        element.innerText = formatPrice(discountPrice) + " ₸";
    });
</script>
</body>
</html>
