<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Full list of products</title>
</head>
<body>
<tbody>
{{ range . }}
<tr>
    <td>Manufacturer: {{ .Manufacturer }}</td>
    <h2>Main Information</h2>
    <td>{{ .Main.Category  }}</td>
    <td>{{ .Main.Model  }}</td>
    <td>{{ .Main.Generation  }}</td>
    <td>{{ .Main.Socket  }}</td>
    <h2>Cores</h2>
    <td>{{ .Cores.Pcores  }}</td>
    <td>{{ .Cores.Ecores  }}</td>
    <td>{{ .Cores.Threads  }}</td>
    <td>{{ .Cores.TechnicalProcess  }}</td>
    <h2>Clock Frequency</h2>
    <td>
        {{range .ClockFrequency.Pcores}}
        <li>{{.}} GHz</li>
        {{end}}
    </td>
    <td>
        {{range .ClockFrequency.Ecores}}
        <li>{{.}} GHz</li>
        {{end}}
    </td>
    <td>{{ .ClockFrequency.FreeMultiplier  }}</td>
    <h2>RAM Parameters</h2>
    <td>{{ .Ram.Channels }}</td>
    <td>{{ .Ram.Type }}</td>
    <td>{{ .Ram.MaxFrequency }}</td>
    <td>{{ .Ram.MaxCapacity }}</td>
    <h2>Thermal Characteristics</h2>
    <td>{{ .Tdp }}</td>
    <td>{{ .MaxTemperature }}</td>
    <h2>Other Info</h2>
    <td>{{ .Graphics  }}</td>
    <td>{{ .PciE }}</td>
</tr>

<form action="/comparisonCpuMb" method="post">
    <button type="submit" name="mb" value="{{.Socket}}">Motherboard</button>
</form>
<form action="/comparisonCpuRam" method="post">
    <button type="submit" name="ram" value="{{.Ram.Type}}">RAM</button>
</form>
<form action="/comparisonCpuCooling" method="post">
    <button type="submit" name="cooling" value="{{.Tdp}}">Cooling</button>
</form>

{{ end }}

</tbody>
</body>
</html>