body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 65px;
    background-color: #f2f2f2;
}

header {
    background-color: #1a237e;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it appears above other elements */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li.catalog-button {
    background-color: #1565c0;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li.catalog-button:hover {
    background-color: #0d47a1;
}

nav ul li.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#filters {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#filters h2 {
    margin-top: 0;
    color: #1a237e;
}

#filters div {
    margin-bottom: 10px;
}

#filters label {
    display: inline-block; /* Display labels inline */
    margin-right: 10px; /* Add some space between checkbox and label */
}

#results {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#results h2 {
    margin-top: 0;
    color: #1a237e;
}

#cpu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cpu-card {
    position: relative; /* Required for absolute positioning */
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

.cpu-image {
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.cpu-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.cpu-details {
    flex: 1;
    position: relative; /* Required for absolute positioning */
}

.product-name {
    margin-top: 0;
}

.price {
    position: absolute; /* Position the price absolutely */
    top: 0; /* Adjust top position */
    right: 10px; /* Adjust right position */
    font-weight: bold;
}

.cpu-info p {
    margin: 5px 0;
}

.cpu-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
}

.cpu-actions button {
    margin-left: 10px;
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.compare-button {
    background-color: #1565c0;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Search bar */
#search-bar {
    flex-grow: 1;
    text-align: center; /* Center-align search bar */
    width: 700px;
}

#search-input {
    padding: 8px;
    left: 70px;
    width: 700px; /* Increased width */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#search-button {
    position: relative;
    right: 47px;
    top: 6px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 7px;
    background: none;
}

#search-button:hover {
    background-color: rgba(26, 35, 126, 0.2); /* Change the background color on hover */
}

/* Additional CSS for CPU List Page */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-name {
    margin-top: 0;
}

.price {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.button-container button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.button-container .buy-button {
    background-color: #4CAF50;
    color: white;
}

.button-container .compare-button {
    background-color: #1565c0;
    color: white;
}

.add-cpu-card {
    width: 650px;
    min-height: 600px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    margin: 50px auto; /* Center the card */
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px; /* Increase bottom margin */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a237e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Add top margin */
}

.submit-button:hover {
    background-color: #0d47a1;
}

.update-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a7e1c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Add top margin */
}

.delete-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #971c1c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Add top margin */
}

.input-with-unit {
    display: flex;
    align-items: center;
}

.input-with-unit input[type="text"] {
    flex: 1; /* Take up remaining space */
}

.input-with-unit .unit {
    margin-left: 5px; /* Adjust spacing between input and unit */
}

.inline-inputs {
    display: flex;
}

.inline-inputs .input-with-unit {
    margin-right: 10px;
}

.inline-inputs .input-with-unit:last-child {
    margin-right: 0;
}

.container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15%;
    gap: 40px;
}

.catalog-card {
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    text-decoration: none; /* Remove hyperlink underline */
    color: black; /* Change text color */
}

.catalog-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.catalog-card img {
    width: 200px; /* Adjust image width */
    height: 200px; /* Maintain aspect ratio */
}

.catalog-card a {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: black; /* Change link text color */
}

#add-panel {
    display: inline-flex;
    width: 200px;
}

/* Add styles for the user container */
.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2); /* Adjust background color and opacity */
}

#shopping-cart {
    gap: 5px;
    padding: 5px;
    padding-right: 30px;
}

#shopping-cart img,
#search-button img,
.user-container img {
    width: 25px; /* Adjust icon size */
    height: 25px;
}

.user-container span {
    color: #fff; /* Adjust text color */
    font-size: 14px; /* Adjust font size */
    margin-left: 5px;
}